.chart {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.basic-graph, .other-graph, .fat-graph {
	position: relative;
	width: 900px;
    height: 600px;
}
@media only screen and (max-width: 892px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 600px;
		height: 500px;
	}
}
@media only screen and (max-width: 600px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 100vw;
		height: 50vw;
	}
}
@media only screen and (max-width: 540px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 400px;
		height: 300px;
	}
}
@media only screen and (max-width: 400px) {
	.basic-graph, .other-graph, .fat-graph {
		left: 45%;
		width: 700px;
		height: 500px;
	}
	h1 {
		position: relative;
		left: 45%;
	}
}