.chart {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}
.basic-graph, .other-graph, .fat-graph {
	width: 60%;
    height: auto;
}
@media only screen and (max-width: 768px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 80%;
	}
}
@media only screen and (max-width: 576px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 100%;
	}
}
/* @media only screen and (max-width: 892px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 600px;
		height: 500px;
	}
}
@media only screen and (max-width: 600px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 100vw;
		height: 50vw;
	}
}
@media only screen and (max-width: 540px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 400px;
		height: 300px;
	}
}
@media only screen and (max-width: 400px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 700px;
		height: 500px;
	}
} */