.chart {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}
.basic-graph, .other-graph, .fat-graph {
	width: 60%;
    height: auto;
}
@media only screen and (max-width: 768px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 80%;
	}
}
@media only screen and (max-width: 576px) {
	.basic-graph, .other-graph, .fat-graph {
		width: 100%;
	}
}
