html, body, #root, .main, .app, .main {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.search-form {
  width: 100%;
  padding-top: 2rem;
}
.search-textinput {
    display: inline-block;
    width: 30%;
}
.viewbutton {
  margin-right: 1rem;
}
.welcome-msg {
  padding-top: 4rem;
}